# IRIS Target
IRIS_APIKEY=
IRIS_SCHEME=https
IRIS_HOST=
IRIS_PORT=443
IRIS_VERIFY_TLS=true

# Exporter
EXPORTER_ADDRESS= # default to '0.0.0.0'
EXPORTER_PORT=10043
EXPORTER_LOG_LEVEL=info # {debug|info|warn|error}

# Exporter behavior
EXPORTER_CASES_SPLIT_SUBCLASSES=true
EXPORTER_ALERTS_SPLIT_SUBCLASSES=true
EXPORTER_TASKS_ENABLED=true
